* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;  
}

#application {
	width: 710px;
	height: 504px;
	border: black solid 1px;
	display: flex;
}

#game {
	width: 502px;
	height: 502px;
	border: red solid 1px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.square {
	width: 50px;
	height: 50px;
	border: black solid 1px;
}

.rectangle {
	border: black solid 1px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: absolute;
}

#side-bar {
	display: flex;
	flex-direction: column;
}

#rectangle-container {
	display: flex;
	position: relative;
	flex-direction: column;
	border: solid black 1px;
	height: 200px;
	width: 200px;
}

#points-container {
	align-self: flex-end;
	border: black solid 1px;
	width: 100px;
	height: 50px;
	font-size: 40px;
}

#event-container {
	border: solid black 1px;
	height: 200px;
	width: 200px;
}